*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.fundo{
    background-color: blue;
    width: 660px;
    margin: 0px auto;
}

.flex{
    display: flex;
}

.amarelo{
    background-color: yellow;
    padding: 80px;
    margin: 10px;
    border-radius: 8px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.horizontal{
    padding-right: 300px;
}

.vertical{
    padding-bottom: 250px;
}

.block{
    display: block;
}